@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=PT+Serif&display=swap');

/* FOOTER */
.footer-about-us{
  margin-top: 45%;
  padding: 10px;
}

.content-text{
  width: 40%;
  text-align: center;
  font-family: 'Cinzel';
  font-size: 16px;
  margin: 1em auto;
  padding: 1em;
}

.content-text p{
  margin-top: 1em;
  text-align: center;
  font-family: 'Cinzel';
  text-indent: 30px;
}

.content-image{
  width: 90%;
  /*height: 1%;*/
  margin: 5% auto;
}

.social-media-container img{
  margin: 1em 1em;
  width: 5%;
}

/* SCREEN BELOW 800PX */
@media screen and (max-width: 800px){
  .content-text{
    width: 70%;
  }
}