@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=PT+Serif&display=swap');

/* FOOTER */
.footer-register{
  margin-top: 20%;
}

/* REGISTER */
.content-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration-container{
  width: 40%;
  height: 53em;
  padding: 1em;
  background-color: #d7ccc8;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  margin: 1em auto;
  font-family: 'Cinzel';
}

.registration-container h1{
  font-weight: 200;
  letter-spacing: 5px;
  text-align: center;
  margin: 0.5em;
}

.registration-form{
  margin: 2em 3em;
}

.display-form{
  width: 95%;
  padding: 0.4em;
  margin: 1em auto;
}

.gender-form{
  position: static;
  margin: 1.5em 1em;
}

.submit-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding: 1em;
  margin: 4em auto;
  border-radius: 1em;
  background-color: #2e332f;
  color: white;
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

#name_error, #email_error, #address_error,
#pass_error, #phone_error,
#agreement_error{
  width: 96%;
  font-size: 0.9em;
  color: red;
  font-family: 'Verdana';
  margin-bottom: 1em;
  display: none;
}

/* SCREEN BELOW 800PX */

@media screen and (max-width: 800px){
  .registration-container{
    width: 80%;
  }

  .registration-container h1{
    font-size: 1.5em;
  }

  .submit-button{
    width: 30%;
  }
}