@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Josefin+Sans:wght@500&family=PT+Serif&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #d7ccc8;
}

header{
  position: sticky;
  top: 0;
}

nav{
  background-color: #d7ccc8;
  width: 100%;
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 22em;
  font-size: 1em;
  font-family: 'Crimson Text','Serif';
  color: black;
}

.logo h2{
  /*font-family: sans-serif;*/
  margin-left: 23%;
}

.image-logo img{
  margin-right: 10em;
  width: 4.5em;
}

.menu-position{
  margin-right: 6%;
  position: relative;
  display: inline-block;
  float: right;
}

.button-container{
  background-color: transparent;
  color: #000;
  padding: 1em;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  border: 0 solid #000;
}

.menu-dropdown-style{
  display: none;
  position: absolute;
  background-color: #f7f1eb;
  min-width: 6em;
}

.menu-dropdown-style a{
  color: black;
  padding: 0.5em 0.5em;
  text-decoration: none;
  display: block;
}

.menu-dropdown-style a:hover{
  background-color: #000;
  color: #fff;
}

.menu-position:hover .menu-dropdown-style{
  display: block;
}

/* IMAGE SLIDER */

.image-slider{
  width: 84.3em;
  height: 36em;
  margin: 0 auto;
  overflow: hidden;
}

.view-slide-image{
  display: block;
  width: 900em;
  height: 36em;
  margin: 0;
  padding: 0;
}

.single-slide-image img{
  float: left;
  width: 84.3em;
  height: 36em;
}

.text1, .text2{
  /*letter-spacing: 0.2em;*/
  font-weight: 600;
  font-family: 'Cinzel';
  font-size: 2.5em;
  padding: 1.5em;
  text-align: center;
}

.text2{
  text-align: center;
  font-size: 2em;
  padding: 0;
  margin-bottom: 10px;
}

/* IMAGE */
.distance-image-collection{
  margin-top: 10em;
}

.display-image-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.display-single-image{
  margin: 1em 2em;
  cursor: pointer;
}

.display-single-image img{
  background-color: #f2f0ed;
  padding: 0.5em;
  width: 20em;
  height: 20em;
}

.image-collection img{
  background-color: #f2f0ed;
  padding: 0.5em;
  width: 30em;
}

.display-single-image img:hover{
  background-color: black;
}

.cloth-name{
  margin-top: 0.5em;
  text-align: center;
  font-size: 100%;
  color: #000;
  font-family: 'Cinzel';
}

/* FOOTER */
.footer-index{
  margin-top: 45%;
  padding: 0.5em;
}

.footer-text{
  text-align: center;
  font-family: 'Cinzel';
  font-size: 2em;
  color: grey;
  letter-spacing: 0.5em;
  margin: 3em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-footer img{
  margin-top: 20px;
  height: 4.5em;
  cursor: pointer;
}

.logo-footer figure{
  font-style: normal;
  font-family: 'Cinzel';
  font-size: 1em;
  text-align: center;
}

.payment-method{
  margin-top: 1.5em;
  margin-bottom: 2%;
  font-size: 1em;
  font-family: 'Cinzel';
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.payment-image img{
  height: 1em;
  margin: 1em 0.1em;
  margin-bottom: 0;
  cursor: pointer;
}

.information ul{
  margin-top: 1em;
  list-style-type: none;
}

.information ul li a{
    text-decoration: none;
    color: black;
}

.line{
  width: 70%;
  margin: auto;
  border: 0.05em solid #000;
}

/* SCREEN BELOW 800PX */
@media screen and (max-width: 800px){

  nav{
    /*background-color: yellow;*/
  }

  .logo h2{
    /*background-color: yellow;*/
    width: 7em;
    font-size: 1.3em;
    padding: 0;
    margin: 0 1em;
  }

  .image-logo img{
    display: none;
  }

  .menu-position, .button-container{
    font-size: 1em;
    right: 0%;
  }

  .promo, .text1{
    font-size: 1.5em;
  }

  .image-slider{
    width: 30em;
    height: 15em;
    margin: 0 auto;
    overflow: hidden;
  }

  .view-slide-image{
    display: block;
    overflow: hidden;
    width: 200em;
    height: 15em;
    list-style: none;
    margin: 0;
    padding: 0;
   }

  .single-slide-image img{
    float: left;
    width: 30em;
    height: 15em;
  }

  .image-collection img{
    width: 27em;
  }

  .footer-text{
    font-size: 1.5em;
  }

  .logo-footer figure{
    font-size: 0.9em;
  }

  .payment-method{
    font-size: 80%;
  }

  .line{
    width: 90%;
  }
}